
.dp__main {
    /* padding: 0.4em 1em; */
    /* overflow: hidden; */
    font-size: 1em;
    border: 1px solid #bcb4b1;
    /* border: 1px solid var(--vt-color-step-900); */
    border-radius: 1em;
    outline: none;
    height: 3em;
    background: white;
    font-size: 14px;
    color: var(--vt-color-step-300);
    vertical-align: middle;
    line-height: 2em;
    min-width: 240px;
}
.dp__main input {
    border: none !important;
    height: 2.4em;
    border-radius: 5em;
}
.dp__main .dp__outer_menu_wrap .dp__menu {
    margin-top: -36px !important;
}
.dp__instance_calendar > div > div > .dp__month_year_row > .dp__overlay {
    height:100vh;
    max-height: 280px;
}
.dp__instance_calendar > div:nth-child(2) {
    display: none;
}
.dp__calendar_header, .dp__calendar_header_separator {
    display: none;
}
.dp__month_year_wrap .dp__overlay {
    height: 324px !important;
    width: 258px !important;
    left: -25px !important;
}
.dp__month_year_wrap .dp__overlay .dp__overlay_container {
    height: 290px !important;
}