@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat.ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* color: black; */
}

ion-content {
    /* --background: #FFFFFF; */
    --background: #bbe0e0;
    /* --background: rgb(47, 3, 130); */
    /* --background: linear-gradient(147deg, rgba(47, 3, 130, 1) 50%, rgba(105, 45, 221, 1) 100%) !important; */
}

body {
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
}

.tx-center {
    text-align: center;
}

.tx-right {
    text-align: right;
}

.tx-left {
    text-align: left;
}

a {
    text-decoration: none;
}